<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title></title>
</head>
<body>
    <h1><%= folder.name %></h1>
  <p><%= file.name %></p>
  <p><%= author.username %></p>
  <p><%= file.createdAt %></p>
  <p><%= file.mimetype %></p>
  <p><%= file.url %></p>
  <p><%= file.size %></p>
</body>
</html>