<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title></title>
  <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>    
  <div class="links-container">
    <div class="create-container">
      <a href="/">File Uploader</a>
  <a href="/file/upload">Upload File</a>
  <a href="/folder/create">Create Folder</a>
  </div>
  <div class="logout-container">
  <p><%= user.username %></p>
  <a href="/log-out">Log Out</a>
  </div>
  </div>
  <h1 class="folder-name"> <%= folder.name %></h1>
  <div class="folder-action-container">
  <a href="/folder/<%= folder.id %>/update">Update</a>
  <form method="POST" action="/folder/<%= folder.id %>/delete">
    <button type="submit">Delete</button>
</form>
</div>
  <div class="files-container">
    <% files.forEach(file => { %>
      <div class="small-file">
        <img
  class="thumbnail"
  src="<%= file.url %>"/>
      <a href="/file/<%= file.id %>"><%= file.name %></a>
      </div>
    <% }); %>
  </div>
</body>
</html>