<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title></title>
  <link rel="stylesheet" href="style/style.css">
</head>
<body>    
  <h1> <%= folder.name %></h1>
    <% files.forEach(file => { %>
      <a href="/file/<%= file.id %>"><%= file.name %></a>
    <% }); %>
  <a href="/folder/<%= folder.id %>/update">Update</a>
  <form method="POST" action="/folder/<%= folder.id %>/delete">
    <button type="submit">Delete</button>
</form>
</body>
</html>